body {
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light {
  background-color: #F6F8FF;
  color: #2B3442;
}

body.dark {
  background-color: #141D2F;
  color: #FFFFFF;
}

.app {
  max-width: 730px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

.theme-toggle {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  display: flex;
  align-items: center;
}

.theme-toggle span {
  margin-left: 16px;
  font-size: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #1E2A47;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 24px;
}

.light .search-bar {
  background-color: #FEFEFE;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.search-icon {
  margin: 0 24px 0 32px;
  font-size: 24px;
}

.search-bar input {
  flex-grow: 1;
  background: none;
  border: none;
  color: inherit;
  font-size: 18px;
}

.search-bar input::placeholder {
  color: #4B6A9B;
}

.search-bar button {
  padding: 12px 24px;
  background-color: #0079FF;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #60ABFF;
}

.message {
  text-align: center;
  margin-top: 20px;
}

.error {
  color: #F74646;
}

.profile-card {
  background-color: #1E2A47;
  border-radius: 15px;
  padding: 48px;
  display: flex;
  margin-top: 24px;
}

.light .profile-card {
  background-color: #FEFEFE;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.avatar {
  width: 117px;
  height: 117px;
  border-radius: 50%;
  margin-right: 37px;
}

.info-container {
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.header h2 {
  margin: 0;
  font-size: 26px;
}

.join-date {
  color: #4B6A9B;
  margin: 0;
}

.username {
  color: #0079FF;
  margin: 0 0 20px 0;
}

.bio {
  color: #4B6A9B;
  margin: 0 0 32px 0;
}

.stats {
  display: flex;
  justify-content: space-between;
  background-color: #141D2F;
  padding: 15px 32px;
  border-radius: 10px;
  margin-bottom: 37px;
}

.light .stats {
  background-color: #F6F8FF;
}

.stat-label {
  color: #4B6A9B;
  margin: 0;
  font-size: 13px;
}

.stat-value {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 19px 65px;
}

.footer-item {
  display: flex;
  align-items: center;
  color: #4B6A9B;
}

.icon {
  margin-right: 16px;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}